<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <button class="btn btn-primary" (click)="openNewPersonModal()">Add a new person</button>
  </ul>
  <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (submit)="search()">
    <div class="input-group">
      <div class="input-group-prepend">
        <select class="form-control" formControlName="searchField">
          <option>name</option>
          <option>phone</option>
          <option>address</option>
        </select>
      </div>
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" formControlName="searchString">
      <div class="input-group-append">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </form>
</nav>

<div *ngIf="people.length > 0; else noPeopleFound">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <span>{{person.name}}</span>
        </td>
        <td>
          <span>{{person.phone}}</span>
        </td>
        <td>
          <span>{{person.address}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noPeopleFound>
  <h3 class="text-center">
    No people found.
  </h3>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true" class="toasts-container">
</app-toasts>
