<div class="modal-header">
  <h4 class="modal-title">New Person</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="personForm" (submit)="addPerson()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Name</span>
      <input type="text" class="form-control" formControlName="name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Phone</span>
      <input type="text" class="form-control" formControlName="phone" aria-describedby="basic-addon2">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Address</span>
      <input type="text" class="form-control" formControlName="address" aria-describedby="basic-addon3">
    </div>
    <input type="submit" class="btn btn-success" value="Add">
  </form>
</div>
